---
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils/formatDate";
import { isPublished } from "../../utils/isPublished";

const postList = await Astro.glob("./*md");
---

<Layout>
  <section class="posts">
    {
      postList.reverse().map(
        ({ url, frontmatter }) =>
          isPublished(frontmatter.date) && (
            <a href={url}>
              <picture>
                <img
                  src={frontmatter.cover}
                  alt={`${frontmatter.title} cover image`}
                />
              </picture>
              <footer>
                <h2>{frontmatter.title}</h2>
                <p>Published on: {formatDate(frontmatter.date)}</p>
              </footer>
            </a>
          )
      )
    }
  </section>
</Layout>

<style>
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    gap: 2rem;

    a {
      display: grid;
      gap: 1rem;

      picture {
        aspect-ratio: 16/9;

        overflow: hidden;
        border-radius: 10px;
        background-color: #000;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      footer {
        h2 {
          font-size: 1.25rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .posts {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
