---
import Layout from "./Layout.astro";
import { formatDate } from "../utils/formatDate";

const { frontmatter } = Astro.props;
const { cover, title, description, date } = frontmatter;

import "../styles/reset.css";
---

<Layout title={title}>
  <div class="post">
    <header>
      <picture>
        <img src={cover} alt={`${title} cover image`} />
      </picture>
      <footer>
        <h1>{title}</h1>
        <p>{description}.</p>
        <section></section>
      </footer>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>Written on: {formatDate(date)}</p>
    </footer>
  </div>
</Layout>

<style>
  .post {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    margin: auto;

    max-width: 700px;

    box-shadow: 0 0 5px #0003;

    header {
      display: grid;
      gap: 1rem;

      picture {
        overflow: hidden;
        aspect-ratio: 16/9;

        border-radius: 10px;
        background-color: #000;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      footer {
        h1 {
        }
        p {
        }
      }
    }

    main {
      overflow: hidden;
      width: 100%;

      h2 {
        margin-top: 2rem;
      }

      p,
      ul {
        margin-bottom: 1rem;
      }

      pre {
        user-select: text;

        font-size: 0.75rem;

        padding: 1.5rem;
        margin-bottom: 1rem;

        border-radius: 5px;
      }
    }

    footer {
      p {
      }
    }
  }
</style>
